/*Colors*/
:root {
	--background-color: #100f0f;
	--text-color: #f3f3f3;
	--focus-hover-color: #bc1a1a;
}
/*Colors*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}
/*Class container*/
.container {
	width: 1140px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
/*Class container*/
/*To reset properties*/
.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
img {
	display: block;
}
.section {
	padding: 100px 0;
}
/*To reset properties*/

/* Header-Style */
.header {
	background: linear-gradient(
		256.51deg,
		rgba(111, 102, 102, 0.9) 26.96%,
		rgba(16, 15, 15, 0.9) 79.08%,
		rgba(16, 15, 15, 0.9) 79.08%
	);
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.main-header {
	display: flex;
	align-items: center;
}
.header-navigation {
	display: flex;
	align-items: center;
}
.header-logo-image {
	margin-right: 16px;
	color: var(--text-color);
	fill: currentColor;

	transition-property: color;
	transition-duration: 350ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo-image:is(:hover, :focus) {
	color: var(--focus-hover-color);
	fill: currentColor;
}
.header-logo {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	color: var(--text-color);
	text-transform: uppercase;
	padding: 24px 0;

	transition-property: color;
	transition-duration: 350ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo:is(:hover, :focus) {
	color: var(--focus-hover-color);
}
.header-list {
	display: flex;
	margin-left: 236px;
}
.header-item:not(:last-child) {
	margin-right: 52px;
}
.header-link {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.25;
	color: var(--text-color);
	display: block;
	padding: 24px 0;

	transition-property: color;
	transition-duration: 350ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:is(:hover, :focus) {
	color: var(--focus-hover-color);
}
.header-button {
	font-family: "Montserrat";
	font-weight: 800;
	font-size: 16px;
	line-height: 1.25;
	color: var(--text-color);
	border: 1px solid var(--text-color);
	background-color: rgba(0, 0, 0, 0);
	border-radius: 16px;
	cursor: pointer;
	display: inline-block;
	margin-left: 201px;
	padding: 10px 33px;

	transition-property: border, color;
	transition-duration: 350ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-button:is(:hover, :focus) {
	color: var(--focus-hover-color);
	border: 1px solid var(--focus-hover-color);
}
/* Header-Style */

/* Hero-Style */
.hero-section {
	padding: 72px 0;
	background: linear-gradient(
		228.52deg,
		rgba(111, 102, 102, 0.9) 4.71%,
		rgba(16, 15, 15, 0.9) 39.77%,
		rgba(16, 15, 15, 0.9) 44.21%
	);
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.hero-main {
	display: flex;
}
.hero-title {
	font-weight: 500;
	font-size: 64px;
	line-height: 1.21;
	color: var(--text-color);
	margin-bottom: 24px;
}
.hero-subject {
	font-weight: 300;
	font-size: 36px;
	line-height: 1.22;
	color: var(--text-color);
	margin-bottom: 48px;
}
.hero-love {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.22;
	color: var(--focus-hover-color);
}
.hero-button {
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 30px;
	line-height: 1.23;
	color: var(--text-color);
	background: rgba(188, 26, 26, 0.2);
	border: 1px;
	border-radius: 16px;
	cursor: pointer;
	padding: 20px 84px;
	display: inline-block;

	transition-property: background;
	transition-duration: 350ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:is(:hover, :focus) {
	background: rgba(188, 26, 26, 0.5);
}
.hero-under-button {
	display: flex;
}
.hero-item {
}
.hero-under-button-number {
	font-weight: 600;
	font-size: 32px;
	line-height: 1.22;
	color: var(--text-color);
}
.hero-under-button-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: var(--text-color);
}
.hero-offers-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: var(--text-color);
}

.hero-social-network-item:not(:last-child) {
	margin-bottom: 32px;
}
.hero-social-network-img {
	color: var(--text-color);
	fill: currentColor;

	transition-property: color;
	transition-duration: 350ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-social-network-img:is(:hover, :focus) {
	color: var(--focus-hover-color);
	fill: currentColor;
}
/* Hero-Style */
/* Sauce-Style */
.sauce-subject {
	font-weight: 600;
	font-size: 32px;
	line-height: 1.22;
	color: var(--text-color);
}
.sauce-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: var(--text-color);
}
.sauce-button {
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	color: var(--text-color);
	background: rgba(188, 26, 26, 0.2);
	border-radius: 8px;
	cursor: pointer;
}
.sauce-button:focus,
.sauce-button:hover {
	background: rgba(188, 26, 26, 0.5);
}
/* Sauce-Style */
/* Video-Style */
.video-text {
	font-weight: 400;
	font-size: 32px;
	line-height: 1.22;
	color: var(--text-color);
}
/* Video-Style */
